/* Styles for the Password Manager Pane */

#pwd-manager-pane {
    -fx-background-color: #353836;
}


/* Styles for the Password Entity Editor Pane */

#pwd-editor-pane {
    -fx-background-color: #353836;
}


/* Styles for the root node */

.root {
    -fx-background-color: #414743;
}


/* Styles for labels */

.label {
	-fx-font-size: 10pt;
	-fx-text-fill: white;
}

.title {
    -fx-font-size: 11pt;
}

.error-message {
    -fx-font-size: 8pt;
    -fx-text-fill: f59b42;
}

.success-message {
    -fx-font-size: 8pt;
    -fx-text-fill: yellow;
}


/* Styles for the text field */

.text-field {
	-fx-text-fill: white;
  -fx-border-color: grey;
  -fx-border-width: 0 0 2 0;
  -fx-background-color: transparent;
}

.text-field:focused {
    -fx-border-color: #4b6eaf;
}


/* Styles for the buttons */

.button {
    -fx-font-size: 10pt;
	-fx-background-color: grey;
	-fx-text-fill: white;
	-fx-border-width: 1;
}

.button:hover {
    -fx-background-color: #4b6eaf;
	-fx-text-fill: black;
}

.equal-size-button {
    -fx-pref-width:90px;
}

.link-style-button {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-underline: true;
}

.link-style-button:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #4b6eaf;
}

.copy-clipboard-button {
    -fx-graphic: url("../images/copy_clipboard.png");
    -fx-background-color: transparent;
}

.copy-clipboard-button:hover {
    -fx-graphic: url("../images/copy_clipboard_hover.png");
    -fx-background-color: transparent;
}

#generate-pwd-button {
    -fx-graphic: url("../images/generate_pwd.png");
    -fx-background-color: transparent;
}

#generate-pwd-button: hover {
    -fx-graphic: url("../images/generate_pwd_hover.png");
    -fx-background-color: transparent;
}

#hide-pwd-editor-pane-button {
    -fx-graphic: url("../images/close_sign.png");
    -fx-background-color: transparent;
}

#hide-pwd-editor-pane-button: hover {
    -fx-graphic: url("../images/close_sign_hover.png");
    -fx-background-color: transparent;
}

/* Styles for the treeview */

.tree-view {
    -fx-background-color: #414743;
}

.tree-cell {
    -fx-background-color: #414743;
    -fx-text-fill: white;
}

.tree-view:focused .tree-cell:filled:selected {
    -fx-background-color: #4b6eaf;
    -fx-text-fill: black;
}

.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: white;
}


/* Styles for the date picker */

.date-picker .button {
	-fx-background-color: #414743;
}

.date-picker .arrow-button {
    -fx-background-color: white;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: #414743;
}


/* Styles for the SplitPane */

.split-pane-divider {
    -fx-padding: 0 1 0 1 ;
    -fx-background-color: grey;
    -fx-background-insets: 0;
}


/* Styles for the ContextMenu */

.context-menu {
    -fx-background-color: #414743;
    -fx-text-fill: white;
    -fx-font-size: 8pt;
}


/* Styles for the menu bar and items */

.menu-bar {
	-fx-background-color: #414743;
}

.menu:hover, .menu:showing {
	-fx-background-color: #4b6eaf;
}

.menu-item:focused {
	-fx-background-color: #4b6eaf;
}

.menu .context-menu {
	-fx-background-color: #414743;
}

/* Styles for the quickview pane */

.quick-view-pane {
    -fx-background-color: #414743;
}

#quick-view-pane-title {
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
}

.quick-view-pane-attribute-name {
    -fx-font-weight: bold;
}

.quick-view-pane-attribute-value {
    -fx-font-size: 9pt;
}

/* Styles for the checkbox */

.check-box {
	-fx-text-fill: white;
}

.check-box .box {
	-fx-background-color: white;
	-fx-border-color:grey;
	-fx-border-radius:3px;
}

.check-box:selected .mark {
	-fx-background-color: white;
}

.check-box:selected .box {
	-fx-background-color: #4b6eaf;
}


/* Styles for the DialogPane */

.dialog-pane:header .header-panel {
  -fx-background-color: #414743;
}


/* Styles for the ComboBox */

.combo-box-popup .list-view .list-cell {
    -fx-background-color: grey;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #4b6eaf;
}

/* Styles for the tab pane */

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #414743;
}

.tab-pane .tab {
	-fx-background-color: #414743;
}

.tab-pane .tab .tab-label {
	-fx-text-fill: white;
	-fx-font-size: 10pt;
	-fx-opacity: 0.4;
}

.tab-pane .tab:selected .tab-label {
	-fx-opacity: 1;
}

/* Styles for the table view */

.table-view {
	-fx-background-color: #353836;
	-fx-border-color: #353836;
}

.table-view:focused {
	-fx-border-color: #4b6eaf;
}

.table-view .column-header {
	-fx-background-color: #414743;
}

.table-view .placeholder .label {
    -fx-font-size: 7.5pt;
}

.table-cell {
    -fx-background-color: #353836;
    -fx-text-fill: white;
}

.table-view:row-selection .table-row-cell:selected .table-cell {
    -fx-background-color: #4b6eaf;
}

.table-view:cell-selection .table-cell:selected {
    -fx-background-color: #4b6eaf;
}

/* Styles for the Spinner */

.spinner {
  -fx-background-color: transparent;
}

.spinner .increment-arrow-button {
    -fx-background-color: #4b6eaf;
}

.spinner .decrement-arrow-button {
    -fx-background-color: #4b6eaf;
}

.spinner .increment-arrow-button .increment-arrow {
    -fx-background-color: white;
}

.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: white;
}

/* Styles for the toolbar */

#create-pwd-entity-toolbar-button {
    -fx-graphic: url("../images/create_password_entity.png");
}

#delete-pwd-entity-toolbar-button {
    -fx-graphic: url("../images/delete_password_entity.png");
}

#create-folder-toolbar-button {
    -fx-graphic: url("../images/create_folder.png");
}

#delete-folder-toolbar-button {
    -fx-graphic: url("../images/delete_folder.png");
}

#duplicate-password-entity-toolbar-button {
    -fx-graphic: url("../images/duplicate_password_entity.png");
}

#view-password-entity-toolbar-button {
    -fx-graphic: url("../images/view_password_entity.png");
}

#edit-password-entity-toolbar-button {
    -fx-graphic: url("../images/edit_password_entity.png");
}

#password-policies-toolbar-button {
    -fx-graphic: url("../images/password_policies.png");
}

#password-generator-toolbar-button {
    -fx-graphic: url("../images/password_generator.png");
}

.tool-bar {
    -fx-background-color: #414743;
}

.toolbar-btn {
    -fx-background-color: transparent;
}

.toolbar-btn:hover {
    -fx-background-color: #4b6eaf;
}

/* Styles for the Separator */

.separator .line {
    -fx-border-color: grey;
    -fx-border-width: 1, 1;
}
