/* Styles for the Password Manager Pane */

#pwd-manager-pane {
    -fx-background-color: #353836;
}


/* Styles for the Password Entity Editor Pane */

#pwd-editor-pane {
    -fx-background-color: #353836;
}


/* Styles for the root node */

.root {
    -fx-background-color: #414743;
}


/* Styles for labels */

.label {
	-fx-font-size: 10pt;
	-fx-text-fill: white;
}

.title {
    -fx-font-size: 11pt;
}

.error-message {
    -fx-font-size: 8pt;
    -fx-text-fill: f59b42;
}

.success-message {
    -fx-font-size: 8pt;
    -fx-text-fill: yellow;
}


/* Styles for the text field */

.text-field {
	-fx-text-fill: white;
  -fx-border-color: grey;
  -fx-border-width: 0 0 2 0;
  -fx-background-color: transparent;
}

.text-field:focused {
    -fx-border-color: #4b6eaf;
}


/* Styles for the buttons */

.button {
    -fx-font-size: 10pt;
	-fx-background-color: grey;
	-fx-text-fill: white;
	-fx-border-width: 1;
}

.button:hover {
    -fx-background-color: #4b6eaf;
	-fx-text-fill: black;
}

.equal-size-button {
    -fx-pref-width:90px;
}

.link-style-button {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-underline: true;
}

.link-style-button:hover {
    -fx-background-color: transparent;
    -fx-text-fill: #4b6eaf;
}

.copy-clipboard-button {
    -fx-background-color: transparent;
}

.copy-clipboard-button:hover {
    -fx-background-color: transparent;
}


/* Styles for the treeview */

.tree-view {
    -fx-background-color: #414743;
}

.tree-cell {
    -fx-background-color: #414743;
    -fx-text-fill: white;
}

.tree-view:focused .tree-cell:filled:selected {
    -fx-background-color: #4b6eaf;
    -fx-text-fill: black;
}

.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: white;
}


/* Styles for the date picker */

.date-picker .button {
	-fx-background-color: #414743;
}

.date-picker .arrow-button {
    -fx-background-color: white;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: #414743;
}


/* Styles for the SplitPane */

.split-pane-divider {
    -fx-padding: 0 1 0 1 ;
    -fx-background-color: grey ;
    -fx-background-insets: 0;
}


/* Styles for the ContextMenu */

.context-menu {
    -fx-background-color: #414743;
    -fx-text-fill: white;
    -fx-font-size: 8pt;
}


/* Styles for the menu bar and items */

.menu-bar {
	-fx-background-color: #414743;
}

.menu:hover, .menu:showing {
	-fx-background-color: #4b6eaf;
}

.menu-item:focused {
	-fx-background-color: #4b6eaf;
}

.menu .context-menu {
	-fx-background-color: #414743;
}


.quick-view-pane {
    -fx-background-color: #414743;
}